.app-header {
    display: flex;
    justify-content: center;
    height: 6rem;
    background: color('green');

    .app-header-logo__link {
        display: block;
        padding: 1.125rem 0;
        width: 15em;
        height: 3.75em;
    }

}