.app-navigation {
    display: flex;
    justify-content: center;
    min-height: 2.5rem;
    background: color('gray');

    button {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 2.5rem;
        border: 0;
        background: transparent url('../images/menu.png') no-repeat right center;
        outline: none;
    }

    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        > li {
            > a {
                display: block;
                color: #000;
                text-align: center;
                line-height: 2.5rem;
                text-decoration: none;
                transition: all 0.2s;
                &:hover {
                    color: #fff;
                    background-color: color('darkgray');
                }
            }
        }
        &.open {
            display: block;
        }
    }

    @media screen and (min-width: 769px) {
        button {
            display: none;
        }
        ul {
            display: flex;
            > li {
                flex-grow: 1;
                flex-basis: 0;
            }
        }
    }

}