.c-products-list {
  list-style: none;
  margin: 0;
  padding: 0;
  > li {
      margin-bottom: 2rem;
      > a {
          display: flex;
          height: 5rem;
          color: #000;
          text-decoration: none;
          background-color: color('gray');
          transition: all 0.2s;
          > img {
              width: 7rem;
              height: 5rem;
          }
          > span {
              margin-left: 2rem;
              line-height: 5rem;
          }
          &.active {
              color: #fff;
              background-color: color('green');
          }
          &:hover {
              color: #fff;
              background-color: color('darkgray');
          }
      }
  }
}