$max-width: 1280px;
$max-width-narrow: 640px;
$aside-width: 24rem;

$colors-config: (
	'green': #a7b4a5,
	'gray': #eee,
	'darkgray': #585858,
);
@function color($c){
	@return map-get($colors-config, $c);
}