@import 'config';
@import 'AppHeader';
@import 'AppFooter';
@import 'AppNavigation';
@import 'ViewHome';
@import 'ViewProduct';
@import 'ViewSubpage';
@import 'ComponentProductsList';

html, body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

main {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    min-height: calc(100vh - 21rem);
}

.inner-width {
    width: 100%;
    max-width: $max-width;
}
.inner-width-narrow {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: calc(100% - 2.5rem);
    max-width: calc(#{$max-width-narrow} - 2.5rem);
}
