.view.view-home {
    
    > section {

        > aside {
            width: 100%;
        }

        > article {
            > h1 {
                margin-top: 0;
            }
            > img {
                width: 100%;
                height: auto;
            }
            > div {
                padding: 1rem 1.75rem;
            }
        }

        .news {
            margin-top: 1rem;
            .news-item {
                // padding: 1rem 0 0.5rem 0;
                padding: 1rem 2.25rem 0.5rem 1.75rem;
                border-top: 1px solid color('gray');
                h2 {
                    margin: 0;
                    font-size: 1.125rem;
                    color: color('green');
                }
                > div {
                    padding-left: 1.125rem;
                }
            }
        }


        @media screen and (min-width: 769px) {
            display: grid;
            grid-template-columns: #{$aside-width + 3rem} calc(100% - #{$aside-width + 3rem});
            > aside {
                grid-column: 1;
                grid-row: 1 / 4;
                width: $aside-width;
            }
        }

    }
}