.view.view-product {
    
    > section {

        > aside {
            width: 100%;
        }

        > article {
            > h1 {
                margin-top: 0;
                margin-left: 1.75rem;
            }
            > img {
                width: 100%;
                height: auto;
            }
            > div {
                padding: 1rem 1.75rem;
                line-height: 1.375rem;
            }
        }


        @media screen and (min-width: 769px) {
            display: grid;
            grid-template-columns: #{$aside-width + 3rem} calc(100% - #{$aside-width + 3rem});
            > aside {
                grid-column: 1;
                grid-row: 1 / 4;
                width: $aside-width;
            }
            > article {
                > h1 {
                    font-size: 2.5rem;
                    margin-left: 0;
                    margin-top: 0.5rem;
                    margin-bottom: 1.75rem;
                }
            }
        }

    }
}