$aside-width: 25rem;

.view.view-subpage {
    line-height: 1.375rem;
    h1 {
        margin-top: 0;
    }
    h2 {
        font-size: 1.125rem;
    }

    aside:not(:empty) {
        margin-left: -1.25rem;
        padding: 1rem 2rem;
        width: calc(100% - 1.5rem);
        background: color('gray');;
    }

    /*
    > section {
        display: flex;

        > aside {
            margin-right: 3rem;
            width: $aside-width;
            > ul {
                list-style: none;
                margin: 0;
                padding: 0;
                > li {
                    margin-bottom: 2rem;
                    > a {
                        display: flex;
                        height: 5rem;
                        color: #000;
                        text-decoration: none;
                        background-color: color('gray');
                        transition: all 0.2s;
                        > span {
                            margin-left: 2rem;
                            line-height: 5rem;
                        }
                        &:hover {
                            color: #fff;
                            background-color: color('darkgray');
                        }
                    }
                }
            }
        }

        > article {
            width: calc(100% - #{$aside-width + 3rem});
            > img {
                width: 100%;
                height: auto;
            }
        }

    }
    */
}