<template>
  <div class="view view-products inner-width-narrow">
    <section>
      <article>
        <h1>{{ title }}</h1>
        <nav>
          <ComponentProductsList :links="links" />
          <!--
          <ul>
            <li v-for="link in links" :key="link.id">
              <router-link :to="`/produkt/${ lowerCase(link.fields.title.text) }`">{{ link.fields.title.text }}</router-link>
            </li>
          </ul>
          -->
        </nav>
      </article>
    </section>
  </div>
</template>


<script>
import { baseCmsUrl, baseCmsNode } from '../../config';
import ComponentProductsList from '@/components/ComponentProductsList.vue';

export default {
  name: 'products',
  components: {
    ComponentProductsList
  },
  data() {
    return {
      title: '',
      links: [],
    }
  },
  mounted() {
    this.$http.get(`${baseCmsUrl}node/${baseCmsNode}children?depth=2`).then((response) => {
      console.log('pr response: ', response.data[0].children);
      this.title = response.data[1].fields.title.text;
      this.links = response.data[1].children;
      return;
    });
  }
} 
</script>
